.item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-bottom: 20px;

}

.itemImg{
    width: 70px;
    height: 70px;
    border-radius: 45%;
    margin-right: 30px;
}
.textWrap{
    display: flex;
    flex-flow: column;
    width: 80%
}
.textPost{
    width: 100%;
    min-height: 60px;
    border-radius: 10px;
    background-color: #d0cab0;
    padding: 10px;
    margin-bottom: 10px;

}

.likePost{
    display: flex;
    align-self: flex-end;
}
.likeImg{
    height: 20px;
    width: 20px;
    margin-right: 10px;

}